<template>
  <div>
    <!-- 顶部导航 -->
    <NavBar :title="title"></NavBar>
    <!-- 轮播 -->
    <Swiper :swiper="icon.includes('icon//') ? [icon] : []"></Swiper>
    <!-- 参数 -->
    <h2>
      {{ title }} <span class="t-red">{{ price.toFixed(2) + "元" }}</span>
    </h2>
    <!-- 商品导航 -->
    <van-goods-action>
      <van-goods-action-icon
        icon="chat-o"
        v-rule="{ type: 'route', path: '/server' }"
        text="客服"
        dot
      />
      <van-goods-action-icon
        icon="cart-o"
        v-rule="{
          type: 'route',
          path: '/shop',
        }"
        text="购物车"
        badge="5"
      />
      <van-goods-action-icon icon="shop-o" text="店铺" badge="12" />
      <van-goods-action-button
        type="warning"
        v-rule="{
          type: 'event',
          action: addCart,
        }"
        text="加入购物车"
      />
      <van-goods-action-button
        v-rule="{
          type: 'event',
          action: nowBuy,
        }"
        type="danger"
        text="立即购买"
      />
    </van-goods-action>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Swiper from "@/components/Swiper";
import { getDetail } from "@/api/detail_api";
import { shop_add_api } from "@/api/shop_api";
export default {
  props: ["goods_id"],
  components: { NavBar, Swiper },
  data() {
    return {
      title: "",
      price: 0,
      icon: "http://websong.wang:4000/static/product-icon/",
    };
  },
  mounted() {
    // 页面打开后自动发起一个请求
    getDetail(this.goods_id).then((res) => {
      if (res.data.code === 1) {
        var { goods_name, normal_price, icon } = res.data.result[0];
        this.title = goods_name;
        this.price = normal_price;
        this.icon += icon;
      } else {
        this.$toast("请求接口失败！");
      }
    });
  },
  methods: {
    // 添加到购物车中
    addCart() {
      // 购物车不存本地，所有的操作全部走接口请求
      // alert("加入购物车");
      // console.log(params);
      shop_add_api({
        goods_name: this.title,
        goods_id: this.goods_id - 0,
        uid: this.$store.getters.UID,
        count: 1,
        price: this.price,
        icon: this.icon,
      }).then(({ data }) => {
        this.$toast.success(data.msg);
      });
    },
    // 立即购买
    nowBuy() {
      alert("立即购买！");
    },
  },
};
</script>

<style>
.t-red {
  color: red;
}
</style>
