<template>
  <div>
    <h1 style="height: 200px">666</h1>
    <div class="scroll" @scroll="run">
      <div class="inner"></div>
    </div>
  </div>
</template>

<script>
// 节流函数
function throttle(fn, delay) {
  return function (event) {
    fn.call(this, event);
  };
}
export default {
  methods: {
    run: throttle(function (e) {
      console.log(e);
    }, 1000),
  },
};
</script>

<style>
.scroll {
  height: 200px;
  overflow-y: auto;
  background: red;
}
.inner {
  height: 2000px;
}
</style>
