<template>
  <div class="home-box">
    <!-- 顶部的搜索栏 -->
    <!-- 轮播图 -->
    <Swiper :autoplay="3000" :swiper="swiper"></Swiper>
    <!-- 分类 -->
    <van-grid :gutter="10">
      <!-- 标签的属性如果不用v-bind绑定，它的值就是一个字符串 -->
      <van-grid-item
        v-for="(item, i) in tags"
        :key="i"
        v-bind:icon="item.icon"
        :text="item.text"
      />
    </van-grid>
    <!-- 产品列表：1. 触底加载下一屏数据（分页）2. vue里使用节流来优化加载 -->
    <van-grid :column-num="2" gutter="15">
      <van-grid-item
        :to="`/detail/${item.goods_id}`"
        v-for="item in list"
        :key="item.goods_id"
      >
        <template v-slot:icon>
          <van-image :src="host + item.icon" height="100px" />
        </template>
        <template v-slot:text>
          <p>{{ item.goods_name }}</p>
          <span>价格：{{ item.normal_price | suffix }}</span>
        </template>
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
import { getSild, getProductList } from "@/api/home_api";
// lodash 是一个js功能库，深拷贝，节流防抖功能等
import Swiper from "@/components/Swiper";
export default {
  components: { Swiper },
  data() {
    return {
      swiper: [],
      list: [],
      // 分类
      tags: [
        {
          text: "女装",
          icon: "https://m15.360buyimg.com/mobilecms/jfs/t1/191060/24/12861/6818/60ec11f2E67cf5ee6/c264378678b3cd96.png!q70.jpg",
        },
        {
          text: "女装",
          icon: "https://m15.360buyimg.com/mobilecms/jfs/t1/191060/24/12861/6818/60ec11f2E67cf5ee6/c264378678b3cd96.png!q70.jpg",
        },
        {
          text: "女装",
          icon: "https://m15.360buyimg.com/mobilecms/jfs/t1/191060/24/12861/6818/60ec11f2E67cf5ee6/c264378678b3cd96.png!q70.jpg",
        },
        {
          text: "女装",
          icon: "https://m15.360buyimg.com/mobilecms/jfs/t1/191060/24/12861/6818/60ec11f2E67cf5ee6/c264378678b3cd96.png!q70.jpg",
        },
      ],
      // 页码
      page: 1,
      // 每页条数
      n: 6,
      // 图片的公共地址
      host: "",
      // 总条数
      totals: 0,
    };
  },
  methods: {
    // 自己封装一个节流的函数
    throttle(fn, delay) {
      // fn 是被回调的函数 delay是间隔的时间 1000 = 1 秒
      const that = this;
      let time = +new Date(); // 当前被触发的时间,也是被存储的开始触发的时间
      return function () {
        // 用当前的运行中的时间减去开始记录的时间，如果值大于等于delay，说明已经达到时间间隔
        if (+new Date() - time >= delay) {
          fn.apply(that, arguments); // call 和 apply都是可以自动执行函数
          // 要把记录的时间重新赋值为当前的时间
          time = +new Date();
        }
      };
    },
    // 滚动到底部加载下一屏
    loadNext() {
      /* 
      1. 监听滚动事件
      2. 如何判断到底了？
      document.documentElement.scrollHeight === document.documentElement.clientHeight+ document.documentElement.scrollTop
      3. 当距离底部还剩200的时候我就去加载一下篇，给用户一个很及时的反馈。
      4. 防抖是当用户停止了触发才会执行最后一次，节流是在规定的时间间隔中必须执行一次。
      泄洪：每年的9月泄洪一次。每到这个时间就必须执行一会。
    */
      let win = document.documentElement;
      /* 每次触发的时候用当前的时间戳，与开始的时间戳对比，如果超出了，说明以及达到了时间间隔，就执行一次，然后重置成当前的时间戳 */
      window.onscroll = this.throttle(() => {
        if (win.scrollHeight - 200 <= win.clientHeight + win.scrollTop) {
          // 判断我们的数据库里还有没数据：用总条数/每页的条数 = 一共有多少页
          // 如果page >= 一共有多少页
          if (this.page >= Math.ceil(this.totals / this.n)) {
            return this.$toast("没有更多数据了！");
          }
          this.page++;
          getProductList(this.page, this.n).then((res) => {
            // TODO: 永远不要相信后端接口
            if (res.data.code !== 1) return this.$toast("请求数据失败！");
            // 数组合并
            this.list = [...this.list, ...res.data.result.list]; // this.list.concat(res.data.result.list)
          });
        }
      }, 1000);
    },
  },
  mounted() {
    // all race 属于promise方法
    Promise.all([getSild(), getProductList(this.page, this.n)]).then((res) => {
      var [swiper, list] = res;
      // 轮播只要2个
      swiper.data.result.length = 2;
      this.swiper = swiper.data.result;
      // 给首屏的产品列表赋值
      this.list = list.data.result.list;
      this.host = list.data.result.host;
      this.totals = list.data.result.totals;
      // 等图片被加载到页码上后再开启监听滚动事件
      this.loadNext();
    });
  },
  filters: {
    suffix(number) {
      // 根据数字取两位小数
      return number.toFixed(2) + "元";
    },
  },
};
</script>

<style lang="scss" scoped>
.home-box {
  // 因为底部栏会遮挡一部分内容，所以要距地有个距离
  margin-bottom: 60px;
}
</style>
