<template>
  <div>
    <NavBar title="登录"></NavBar>
    <van-form @submit="onSubmit">
      <van-field
        v-model="username"
        name="username"
        label="用户名"
        placeholder="用户名"
        :rules="[
          { required: true, message: '请填写用户名' },
          { validator: checkName, message: '用户名长度2-10' },
        ]"
      />
      <van-field
        v-model="password"
        type="password"
        name="password"
        label="密码"
        placeholder="密码"
        :rules="[
          { required: true, message: '请填写密码' },
          {
            validator: checkPass,
            message: '密码长度6-12',
          },
        ]"
      />
      <div style="margin: 16px">
        <van-button round block type="info" native-type="submit"
          >提交</van-button
        >
      </div>
      <div style="margin: 16px">
        <van-button
          round
          block
          type="info"
          @click.native.prevent="$router.push('/reg')"
          >去注册</van-button
        >
      </div>
    </van-form>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
export default {
  components: { NavBar },
  data() {
    return {
      username: "花卷儿",
      password: "123456",
    };
  },
  methods: {
    onSubmit(values) {
      // 组件调用vuex
      this.$store.dispatch("LOGIN_Action", values).then((res) => {
        if (res.data.code === 1) {
          // 登录成功！ TODO: 这里应该是跳回到曾经要进入的页面
          this.$router.replace(this.$store.state.originPath);
          this.$store.commit("SET_PATH", "/");
        } else {
          this.$toast.fail("登录失败！");
        }
      });
    },
    // 校验名称
    checkName(value) {
      return value.length >= 2 && value.length <= 10;
    },
    checkPass(value) {
      return value.length >= 6 && value.length <= 12;
    },
  },
};
</script>

<style></style>
