<template>
  <div>
    <!-- 头像 -->
    <van-uploader
      accept="*"
      v-model="fileList"
      :max-size="500 * 1024"
      :max-count="1"
      :after-read="upload"
      @oversize="onOversize"
    />
    <!-- 个人信息 -->
    <h1>欢迎{{ USERNAME }}！</h1>
    <!-- 订单管理 -->
    <router-link tag="button" to="/order">订单管理</router-link>
    <!-- 最最后应该由一个退出登录 -->
    <van-button>退出登录</van-button>
    <!-- 原生js实现文件上传 -->
    <br />
    <input type="file" @change="readFile" />
    <div class="pross" ref="pross"></div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { up_file } from "@/api/file_api";
export default {
  methods: {
    // 接口上传
    upfile_(file) {
      // 2. 需要使用h5新增的一个api，formData来接收二进制数据，利用form表单提交的形式去做
      var data = new FormData();
      data.append("inputFile", file);
      /*
				onUploadProgress(event) {
					var value = Math.floor((event.loaded / event.total) * 100)
					pross.innerHTML = value + '%'
					pross.style.width = value + '%'
				},
      */
      // 3. 上传
      up_file(data, {
        // 监听进度事件
        onUploadProgress: (event) => {
          var value = Math.floor((event.loaded / event.total) * 100);
          // return console.log(this);
          this.pross.innerHTML = value + "%";
          this.pross.style.width = value + "%";
        },
      }).then((data) => {
        console.log(data);
      });
    },
    // 读取文件并上传
    readFile(event) {
      if (event.target.files.length === 0)
        return this.$toast.fail("没有选中任何文件");
      var file = event.target.files[0];
      // 1. 上传的文件不能大于30kb
      // file.size 的单位是 b / 1024 = kb / 1024 = mb / 1024 = gb / 1024 = tb
      if (file.size / 1024 > 6000) {
        return this.$toast.fail("不能上传超过6000kb的文件");
      }
      this.upfile_(file);
    },
    onOversize(file) {
      this.$toast("文件大小不能超过 500kb");
    },
    // 使用vant控件给的数据进行上传
    upload({ file }) {
      this.upfile_(file);
    },
  },
  computed: {
    ...mapGetters(["USERNAME"]),
    pross() {
      return this.$refs.pross;
    },
  },
  data() {
    return {
      fileList: [],
    };
  },
};
</script>

<style>
.pross {
  height: 4px;
  background: red;
  width: 0;
}
</style>
