<template>
  <div>
    <NavBar
      :title="$route.meta.title"
      @navRightEvent="navRightEvent"
      rt="历史"
    ></NavBar>

    <!-- 订单的管理 -->
    <van-tabs @click="get_all" v-model="active">
      <van-tab :name="1" title="未支付"></van-tab>
      <van-tab :name="2" title="未发货"></van-tab>
      <van-tab :name="3" title="未收货"></van-tab>
      <van-tab :name="4" title="待评价"></van-tab>
      <van-tab :name="5" title="全部"></van-tab>
      <van-tab :name="6" title="历史"></van-tab>
    </van-tabs>
    <div v-if="list.length">
      <!-- 过滤器只能用在插值的写法里，不能写在指令里 -->
      <van-card
        v-for="item in com_list"
        :key="item.billid"
        :num="item.count"
        :price="item.price * item.count"
        :title="item.goods_name"
        :thumb="item.icon"
      >
        <template v-slot:footer>
          <button @click="changeState(item)">next</button>
        </template>
      </van-card>
    </div>
  </div>
</template>

<script>
// 代码优化：使用混入
// 混入和组件的执行顺序：先执行混入文件在执行组件，如果混入里的字段和组件的字段相同，则使用组件的覆盖了混入，但是生命周期保留两个都有
import _Order from "@/views/Order/_Order";
import { order_get_api, order_set_api } from "@/api/order_api";
export default {
  mixins: [_Order],
  methods: {
    // 历史
    navRightEvent() {
      this.active = 6;
      this.get_all(6);
    },
    // 改变订单的状态
    changeState({ state, goods_id, uid, billid }) {
      order_set_api({ state: state + 1, goods_id, uid, billid }).then(
        ({ data }) => {
          this.$toast.success(data.msg);
          this.getOrder();
        }
      );
    },

    // 获取订单数据
    getOrder(type = "") {
      order_get_api(type).then(({ data }) => {
        this.list = data.result;
      });
    },
    // 点击到5+的时候获取全部订单数据
    get_all(name) {
      if (name < 5) {
        return false;
      }

      // 请求5+的全部
      this.getOrder("all");
    },
  },
};
</script>

<style></style>
