<template>
  <div>
    <NavBar title="注册账户"></NavBar>
    <!-- 表单 -->
    <van-form @submit="onSubmit">
      <van-field
        v-model="username"
        name="username"
        label="用户名"
        placeholder="用户名"
        :rules="[
          { required: true, message: '请填写用户名' },
          {
            validator: checkName,
            message: '请输入合法的用户名',
          },
        ]"
      />
      <van-field
        v-model="password"
        type="password"
        name="password"
        label="密码"
        placeholder="密码"
        :rules="[
          { required: true, message: '请填写密码' },
          {
            validator: checkPass,
            message: '密码不符合规范',
          },
        ]"
      />
      <van-field
        v-model="repassword"
        type="password"
        name="password"
        label="确认密码"
        placeholder="密码"
        :rules="[
          { required: true, message: '请填写密码' },
          {
            validator: checkRePass,
            message: '两次密码不一致',
          },
        ]"
      />
      <div style="margin: 16px">
        <van-button round block type="info" native-type="submit"
          >提交</van-button
        >
      </div>
    </van-form>

    <button @click="$router.push('/login')">去登录</button>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import { reg_api } from "@/api/user_api";
export default {
  components: { NavBar },
  data() {
    return {
      username: "",
      password: "",
      repassword: "",
    };
  },
  methods: {
    // 校验用户名是否合法
    checkName(value) {
      // 用户名长度2-6
      value = value.trim();
      if (value.length >= 2 && value.length <= 6) {
        return true;
      } else {
        return false;
      }
      // 通过校验 false就没有通过
    },
    // 校验密码
    checkPass(value) {
      value = value.trim();
      if (value.length >= 6 && value.length <= 20) {
        return true;
      } else {
        return false;
      }
    },
    // 确认密码
    checkRePass(value) {
      return value === this.password;
    },
    onSubmit(values) {
      reg_api(values).then((res) => {
        console.log(res);
        if (res.data.code === 1) {
          this.$toast.success(res.data.msg);
          // 自动跳转到登录
          this.$router.replace("/login");
        } else {
          this.$toast.fail(res.data.msg);
        }
      });
    },
  },
};
</script>

<style></style>
