<template>
  <div>
    <NavBar title="客服"></NavBar>
    <ul>
      <li
        :style="{
          textAlign: item.service === '我' ? 'right' : 'left',
        }"
        v-for="(item, index) in list"
        :key="index"
      >
        <p v-if="item.service !== '我'">{{ item.service }}：{{ item.sms }}</p>
        <p v-else>{{ item.sms }}：{{ item.service }}</p>
      </li>
    </ul>
    <h1 style="position: fixed; left: 0; bottom: 0">
      <input type="text" v-model.trim="msg" /><button @click="send">
        发送
      </button>
    </h1>
  </div>
</template>

<script>
import io from "socket.io-client";
// npm uninstall socket.io-client
// npm i  socket.io-client@2.3.0
import NavBar from "@/components/NavBar";
export default {
  components: { NavBar },
  methods: {
    send() {
      if (this.msg.length) {
        this.list.push({
          service: "我",
          sms: this.msg,
        });
        // 前端向后端发送:给客服发信息
        this.socket.emit("say", {
          to: this.$store.getters.USERNAME,
        });
      } else {
        this.$toast.fail("不许为空！");
      }
    },
  },
  data() {
    return {
      msg: "",
      list: [],
      // socket对象
      socket: null,
    };
  },
  mounted() {
    // 协议可以是ws、wss、http、https
    var app = (this.socket = io("http://websong.wang:4000"));
    // 后端推送过来的信息
    app.on("serverTall", (msg) => {
      this.list.push(msg);
    });
    // 监听到后端发过来的客服给的信息
    app.on("connect", () => {
      // 把我的用户名发给后端
      app.emit("online", {
        user: this.$store.getters.USERNAME,
      });
    });
  },
};
</script>

<style></style>
