<template>
  <div>
    <NavBar title="购物车"></NavBar>
    <!-- 购物车 -->
    <van-checkbox v-model="checkedAll">全选</van-checkbox>
    <van-row :key="item.goods_id" v-for="item in list">
      <van-col class="center" span="2">
        <van-checkbox v-model="item.state"></van-checkbox>
      </van-col>
      <van-col span="22">
        <van-card
          :num="item.count"
          :price="item.price * item.count"
          :desc="item.goods_name"
          :title="item.goods_name"
          :thumb="item.icon"
        >
          <template #footer>
            <van-button size="mini" @click="del(item)">删</van-button>
            <!-- 函数重载：来自于后端的一个语法。
            前端的函数重载其实就是调用同一个函数，传入不同的参数，执行不同的业务就叫函数重载。
             -->
            <van-button size="mini" @click="setCount({ type: '-', item })"
              >-</van-button
            >
            <van-button size="mini" @click="setCount({ type: '+', item })"
              >+</van-button
            >
          </template>
        </van-card>
      </van-col>
    </van-row>
    <!-- 底部栏 -->
    <van-submit-bar
      :price="allPrice"
      :disabled="allPrice === 0"
      button-text="提交订单"
      @submit="onSubmit"
    >
      <van-checkbox v-model="checkedAll">全选</van-checkbox>
    </van-submit-bar>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import {
  shop_get_api,
  shop_put_api,
  shop_del_api,
  shop_pay_api,
} from "@/api/shop_api";
export default {
  components: { NavBar },
  data() {
    return {
      list: [],
    };
  },
  computed: {
    // 全选：计算属性中如果需要设置值，应该用对象的写法
    checkedAll: {
      get() {
        // 每一条里的state都必须为true才能是全选
        return this.list.every((item) => item.state);
      },
      set(state) {
        this.list.forEach((item) => {
          item.state = state;
        });
      },
    },
    // 总金额
    allPrice() {
      // 遍历list的每一条数据，把每条凡是state为true的单价*数量的价格累加
      // 先过滤出来符合state为true
      /*  const _list = this.list.filter((item) => item.state);
      // 累计计算
      const price = _list.reduce((a, b) => {
        return a + b.count * b.price;
      }, 0);
      return price * 100; */
      // 如何实现链式调用：就是在每个方法的最后返回当前这个对象。
      return (
        this.list
          .filter((item) => item.state)
          .reduce((a, b) => {
            return a + b.count * b.price;
          }, 0) * 100
      );
    },
  },
  mounted() {
    this.load_shops();
  },
  methods: {
    // 加载购物车
    load_shops() {
      shop_get_api().then(({ data }) => {
        // 遍历后端给的数据，手动添加一个状态用于checkbox，map返回新数组
        this.list = data.result.map((item) => {
          item.state = false;
          return item;
        });
      });
    },
    // 删除某条
    del({ goods_id, shopid, uid }) {
      shop_del_api([{ goods_id, shopid, uid }]).then(({ data }) => {
        // 只要成功后
        this.load_shops();
      });
    },
    // 数量的控制
    setCount({ type, item }) {
      switch (type) {
        case "-":
          // 如果就剩一个了就不要--了
          if (item.count <= 1) return false;
          item.count--;
          break;
        case "+":
          // 应该根据库存或者限购的数据进行判断
          item.count++;
      }
      // 更新数量
      // return console.log();
      shop_put_api({
        ...item,
        state: item.state ? "1" : "0",
      });
    },
    // 结算
    onSubmit() {
      // shop_pay_api
      // 先过滤出state为true的数据，然后提交
      const list = this.list
        .filter((item) => item.state)
        .map((item) => {
          const { shopid, goods_id, uid } = item;
          return { shopid, goods_id, uid };
        });
      shop_pay_api(list).then(() => {
        // 没有支付，在中国如果不是公司，个人没有权限申请到支付功能
        this.$toast.success("支付成功！");
        // 最后应该调用重新请求购物车数据接口
        this.load_shops();
      });
    },
  },
};
</script>

<style scoped>
/* 如何一键把页面变黑白：国家公祭日都需要把网站弄成黑白的，使用css的滤镜filter */
/* 如何给网页换颜色，换主题 */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 127px;
}
</style>
