<template>
  <div>
    <van-nav-bar
      :title="title"
      :left-text="lt"
      :right-text="rt"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    lt: {
      type: String,
      default: "",
    },
    rt: { type: String, default: "" },
  },
  methods: {
    onClickLeft() {
      // 路由后退
      this.$router.back();
    },
    onClickRight() {
      this.$emit("navRightEvent");
    },
  },
};
</script>

<style></style>
