<template>
  <van-swipe :autoplay="autoplay">
    <van-swipe-item v-for="(image, index) in swiper" :key="index">
      <img v-lazy="image" style="height: 250px; width: 100%" />
    </van-swipe-item>
  </van-swipe>
</template>

<script>
export default {
  props: {
    autoplay: {
      type: Number,
      default: 1000,
    },
    swiper: {
      // 如果属性的值是对象或数组，默认值要使用函数返回
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style></style>
