<template>
  <div>
    <!-- 一级视图 -->
    <router-view />

    <!-- 全局的底部导航栏：根据路由判断是否显示 -->
    <van-tabbar v-show="show" route v-model="active">
      <van-tabbar-item to="/home" icon="home-o">发现</van-tabbar-item>
      <van-tabbar-item to="/search" icon="search">搜索</van-tabbar-item>
      <van-tabbar-item to="/shop" icon="shopping-cart-o"
        >购物车</van-tabbar-item
      >
      <van-tabbar-item to="/my" icon="manager-o">我的</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
export default {
  // 路由守卫：只要页面地址发生变化，我就执行
  /*  beforeRouteUpdate(to, from, next) {
    console.log(to);
    console.log(from);
    next(false);
  }, */
  watch: {
    $route(value) {
      if (value.meta.showTabBar === false) {
        this.show = false;
      } else {
        this.show = true;
      }
    },
  },
  data() {
    console.log("看看我");
    return {
      active: "/home",
      show: true,
    };
  },
};
</script>

<style lang="scss"></style>
